<?xml version="1.0"?>

<model>
    <name>monopod_v1</name>
    <version>1.0</version>
    <sdf>monopod_v1.urdf</sdf>

    <author>
        <name>Dawson Horvath</name>
        <email>Horvath.dawson@gmail.com</email>
    </author>
    <description>
        planarized monopod model.
    </description>
</model>
